# Ignore .env file
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment directories (e.g., venv, virtualenv)
venv/
virtualenv/

# Ignore IDE-specific directories (e.g., VSCode, PyCharm)
.vscode/
.idea/
